@charset "utf-8";
/* 소스프리징이 될 경우 웹브라우저를 끄고 새로 열거나 캐쉬를 지워라 */
.test { color : red;}

* { margin:0; padding:0; }
a { text-decoration : none; }
ul li { list-style-type : none; }

/*================= Top =================*/
.top { width : 100%; background : lightgray;}
.top_menu {
	text-align : center;
}
.top_menu_ul {
	display : flex;
}
.top_menu_sub li {
	display : none;
}