@charset "utf-8";

/*================= Wrap =================*/
.wrap {
	display : grid;
	grid-template-columns : 310px 1fr;
	grid-template-rows : 100px 1fr;
}

/*================= Top_logo =================*/
.top_logo {
	grid-column-start : 1;
	grid-column-end : 2;
	width : 100px;
}
.top_logo img { 
	height : 100%;
	align : center;
}


/*================= Top_menu =================*/
.top_menu {
	grid-column-start : 2;
	grid-column-end : 3;
	background : lightgray;
	position : relative;
}
.top_menu > ul > li {
	display : inline-block;
	box-sizing : border-box;
	margin : 30px;
}
.top_menu > ul > li:nth-child(1){position : absolute; left: 30px; top: 5px;}
.top_menu > ul > li:nth-child(2){position : absolute; left: 180px; top: 5px;}
.top_menu > ul > li:nth-child(3){position : absolute; left: 330px; top: 5px;}
.top_menu > ul > li:nth-child(4){position : absolute; left: 520px; top: 5px;}
.top_menu > ul > li > a{
	text-decoration: none;
	color: black;
	font-size : 20px;
	font-weight : bold;
}
.top_menu > ul > li > a:hover {
	font-size : 25px;
	position : relative;
	left : -7px; top : -3px;
}

/*================= Main_body =================*/
.main_body {
	grid-column-start : 1;
	grid-column-end : 3;
}
.main_body img { width : 100%; min-height : 100%; }





/*================= Reactive =================*/
@media screen and (max-width: 1000px) { 
	.wrap {
		grid-template-columns : 220px 1fr;
		grid-template-rows : 100px 1fr;
	}
	.top_logo {
		grid-column-start : 1;
		grid-column-end : 3;
		grid-row-start : 1;
		grid-row-end : 2;
	}
	.top_menu {
		grid-column-start : 1;
		grid-column-end : 2;
		grid-row-start : 2;
		grid-row-end : 3;
		min-height : 350px;
	}
	.main_body {
		grid-column-start : 2;
		grid-column-end : 3;
		grid-row-start : 2;
		grid-row-end : 3;
	}
	
	.top_menu > ul > li:nth-child(1){position : absolute; left: 0px; top: 5px;}
	.top_menu > ul > li:nth-child(2){position : absolute; left: 0px; top: 50px;}
	.top_menu > ul > li:nth-child(3){position : absolute; left: 0px; top: 100px;}
	.top_menu > ul > li:nth-child(4){position : absolute; left: 0px; top: 150px;}
	.top_menu > ul > li > a:hover {
		font-size : 25px;
		position : relative;
		left : 0px; top : -3px;
	}
}

